name: Unzip ZIP File and Commit

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  unzip:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Unzip ZIP
        run: unzip -o arsymail.zip -d 

      - name: Commit 
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          git add 
          git commit -m "Auto: unzip arsymail.zip" || echo "Nothing to commit"
          git push
